SUBSYSTEM=="block",ENV{ID_FS_TYPE}=="?*",GOTO="block"
SUBSYSTEM=="usb",ENV{DEVTYPE}=="usb_device",ENV{ID_MTP_DEVICE}=="1",GOTO="android"
SUBSYSTEM=="usb",ENV{DEVTYPE}=="usb_device",ENV{ID_VENDOR}=="Apple_Inc.",GOTO="apple"
GOTO="end"
LABEL="block"
ACTION=="add",RUN+="/usr/bin/sudo /box/bin/mount block add %E{ID_FS_UUID}"
ACTION=="remove",RUN+="/usr/bin/sudo /box/bin/mount block remove %E{ID_FS_UUID}"
GOTO="end"
LABEL="android"
ACTION=="add",RUN+="/usr/bin/sudo /bin/ln -s %E{DEVNAME} /dev/disk/by-uuid/%E{ID_SERIAL_SHORT}",RUN+="/usr/bin/sudo /box/bin/mount android add %E{ID_SERIAL_SHORT} %E{BUSNUM} %E{DEVNUM}"
ACTION=="remove",RUN+="/usr/bin/sudo /bin/rm /dev/disk/by-uuid/%E{ID_SERIAL_SHORT}",RUN+="/usr/bin/sudo /box/bin/mount android remove %E{ID_SERIAL_SHORT}"
GOTO="end"
LABEL="apple"
ACTION=="add",RUN+="/usr/bin/sudo /bin/ln -s %E{DEVNAME} /dev/disk/by-uuid/%E{ID_SERIAL_SHORT}",RUN+="/usr/bin/sudo /box/bin/mount apple add %E{ID_SERIAL_SHORT} %E{BUSNUM} %E{DEVNUM}"
ACTION=="remove",RUN+="/usr/bin/sudo /box/bin/mount apple remove %E{ID_SERIAL_SHORT}"
GOTO="end"
LABEL="end"